In [16]:
import pandas as pd
pd.options.display.max_columns = 999

##  Creating the teams dataframe

In [17]:
##Define the object for the season team
class MyDf:
    def __init__(self, mydf):
        self.df = mydf

In [21]:
# reading relevant data (skipping referee and betting data)
df = pd.read_csv("../Data/EPL_1617.csv", usecols=range(1,10))

In [23]:
df.head()

       Date        HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0  13/08/16         Burnley     Swansea     0     1   A     0     0   D
1  13/08/16  Crystal Palace   West Brom     0     1   A     0     0   D
2  13/08/16         Everton   Tottenham     1     1   D     1     0   H
3  13/08/16            Hull   Leicester     2     1   H     1     0   H
4  13/08/16        Man City  Sunderland     2     1   H     1     0   H

In [24]:
teams = df.HomeTeam.unique()

In [148]:
allteamsresults = []
for i in teams:
#     path=pd.DataFrame()            
    path = df[(df["HomeTeam"] == i) | (df['AwayTeam'] == i )] 
    allteamsresults.append(MyDf(path))

## allteamsresults is a list of dataframes and each dataframe represents a specific team. To access info on a team use team index. The position of the team in the list "teams" will give you the index of the team in the "allteamsresults" list of dataframes.

In [36]:
teams

array(['Burnley', 'Crystal Palace', 'Everton', 'Hull', 'Man City',
       'Middlesbrough', 'Southampton', 'Arsenal', 'Bournemouth', 'Chelsea',
       'Man United', 'Leicester', 'Stoke', 'Swansea', 'Tottenham',
       'Watford', 'West Brom', 'Sunderland', 'West Ham', 'Liverpool'], dtype=object)

#### Burnley has index = 0, Arsenal has index = 7

In [37]:
allteamsresults[7].df.head(n=3)

        Date   HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
7   14/08/16    Arsenal  Liverpool     3     4   A     1     1   D
12  20/08/16  Leicester    Arsenal     0     0   D     0     0   D
27  27/08/16    Watford    Arsenal     1     3   A     0     3   A

## Calculating data for teams

In [44]:
for index, name in enumerate(teams):
    print index

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [158]:
def calculate_for_team_i(team_df, team_name, team_index):
    initial_value = 0
    for i in team_df[team_index].df.index:
        if (team_df[team_index].df.HomeTeam[i] == team_name):# and team_df[team_index].df.FTR[i] == 'H'):
            team_df[team_index].df['total_points'] += 3
        elif (team_df[team_index].df.AwayTeam[i] == team_name):# and team_df[team_index].df.FTR[i] == 'A'):
            team_df[team_index].df['total_points'] += 3
        else:
            team_df[team_index].df['total_points'] += 1
    return team_df[team_index].df

In [161]:
for index, name in enumerate(teams):
    for i in allteamsresults[index].df.index:
        if (allteamsresults[index].df.HomeTeam[i] == name):
            allteamsresults[index].df.home_team_winner[i] = 'yes'
        else:
            allteamsresults[index].df.home_team_winner[i] = 'no'

AttributeError: 'DataFrame' object has no attribute 'home_team_winner'

In [159]:
for index, name in enumerate(teams):
    allteamsresults[index].df = calculate_for_team_i(allteamsresults, name, index)

KeyError: 'total_points'

In [151]:
allteamsresults[0].df

         Date     HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0    13/08/16      Burnley         Swansea     0     1   A     0     0   D
11   20/08/16      Burnley       Liverpool     2     0   H     2     0   H
20   27/08/16      Chelsea         Burnley     3     0   H     2     0   H
32   10/09/16      Burnley            Hull     1     1   D     0     0   D
43   17/09/16    Leicester         Burnley     3     0   H     1     0   H
59   26/09/16      Burnley         Watford     2     0   H     1     0   H
66   02/10/16      Burnley         Arsenal     0     1   A     0     0   D
78   16/10/16  Southampton         Burnley     3     1   H     0     0   D
82   22/10/16      Burnley         Everton     2     1   H     1     0   H
91   29/10/16   Man United         Burnley     0     0   D     0     0   D
101  05/11/16      Burnley  Crystal Palace     3     2   H     2     0   H
119  21/11/16    West Brom         Burnley     4     0   H     3     0   H
120  26/11/16      Burnley        Man City     1     2   A     1     1   D
132  03/12/16        Stoke         Burnley     2     0   H     2     0   H
141  10/12/16      Burnley     Bournemouth     3     2   H     2     1   H
159  14/12/16     West Ham         Burnley     1     0   H     1     0   H
168  18/12/16    Tottenham         Burnley     2     1   H     1     1   D
171  26/12/16      Burnley   Middlesbrough     1     0   H     0     0   D
181  31/12/16      Burnley      Sunderland     4     1   H     1     0   H
191  02/01/17     Man City         Burnley     2     1   H     0     0   D
200  14/01/17      Burnley     Southampton     1     0   H     0     0   D
217  22/01/17      Arsenal         Burnley     2     1   H     0     0   D
222  31/01/17      Burnley       Leicester     1     0   H     0     0   D
236  04/02/17      Watford         Burnley     2     1   H     2     0   H
247  12/02/17      Burnley         Chelsea     1     1   D     1     1   D
253  25/02/17         Hull         Burnley     1     1   D     0     0   D
262  04/03/17      Swansea         Burnley     3     2   H     1     1   D
272  12/03/17    Liverpool         Burnley     2     1   H     1     1   D
277  18/03/17   Sunderland         Burnley     0     0   D     0     0   D

In [130]:
for index, name in enumerate(teams):
    print name

Burnley
Crystal Palace
Everton
Hull
Man City
Middlesbrough
Southampton
Arsenal
Bournemouth
Chelsea
Man United
Leicester
Stoke
Swansea
Tottenham
Watford
West Brom
Sunderland
West Ham
Liverpool

In [129]:
allteamsresults[11].df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,total_points
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,3
12,20/08/16,Leicester,Arsenal,0,0,D,0,0,D,3
24,27/08/16,Leicester,Swansea,2,1,H,1,0,H,3
33,10/09/16,Liverpool,Leicester,4,1,H,2,1,H,3
43,17/09/16,Leicester,Burnley,3,0,H,1,0,H,3
53,24/09/16,Man United,Leicester,4,1,H,4,0,H,3
67,02/10/16,Leicester,Southampton,0,0,D,0,0,D,3
72,15/10/16,Chelsea,Leicester,3,0,H,2,0,H,3
84,22/10/16,Leicester,Crystal Palace,3,1,H,1,0,H,3
94,29/10/16,Tottenham,Leicester,1,1,D,1,0,H,3
107,06/11/16,Leicester,West Brom,1,2,A,0,0,D,3
117,19/11/16,Watford,Leicester,2,1,H,2,1,H,3
123,26/11/16,Leicester,Middlesbrough,2,2,D,1,1,D,3
133,03/12/16,Sunderland,Leicester,2,1,H,0,0,D,3
143,10/12/16,Leicester,Man City,4,2,H,3,0,H,3
150,13/12/16,Bournemouth,Leicester,1,0,H,1,0,H,3
162,17/12/16,Stoke,Leicester,2,2,D,2,0,H,3
174,26/12/16,Leicester,Everton,0,2,A,0,0,D,3
183,31/12/16,Leicester,West Ham,1,0,H,1,0,H,3
192,02/01/17,Middlesbrough,Leicester,0,0,D,0,0,D,3
202,14/01/17,Leicester,Chelsea,0,3,A,0,1,A,3
219,22/01/17,Southampton,Leicester,3,0,H,2,0,H,3
222,31/01/17,Burnley,Leicester,1,0,H,0,0,D,3
238,05/02/17,Leicester,Man United,0,3,A,0,2,A,3
248,12/02/17,Swansea,Leicester,2,0,H,2,0,H,3
257,27/02/17,Leicester,Liverpool,3,1,H,2,0,H,3
258,04/03/17,Leicester,Hull,3,1,H,1,1,D,3
279,18/03/17,West Ham,Leicester,2,3,A,1,3,A,3

In [81]:
allteamsresults[7].df.FTR[12]
#ALL_TEAM[team_index].df['FTR'][i]=='H'
#ALL_TEAM[team_index].df['Pnt_H']

'D'

In [94]:
allteamsresults[7].df.HomeTeam[12]

AttributeError: 'NoneType' object has no attribute 'HomeTeam'

In [84]:
for i in allteamsresults[7].df.index:
    print i

7
12
27
30
42
50
66
70
80
93
105
112
126
136
140
151
167
170
188
196
204
217
220
230
240
259
278

In [83]:
allteamsresults[7].df.index

Int64Index([  7,  12,  27,  30,  42,  50,  66,  70,  80,  93, 105, 112, 126,
            136, 140, 151, 167, 170, 188, 196, 204, 217, 220, 230, 240, 259,
            278],
           dtype='int64')

In [75]:
teams

array(['Burnley', 'Crystal Palace', 'Everton', 'Hull', 'Man City',
       'Middlesbrough', 'Southampton', 'Arsenal', 'Bournemouth', 'Chelsea',
       'Man United', 'Leicester', 'Stoke', 'Swansea', 'Tottenham',
       'Watford', 'West Brom', 'Sunderland', 'West Ham', 'Liverpool'], dtype=object)